<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CookBookConnectionString"
		connectionString="
		Server=DESKTOP-485477A\SQLEXPRESS;
		Database=CookBookDB;
		Trusted_Connection=True;"
		providerName= "System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
	</appSettings>
	
</configuration>